{% extends 'template.html' %}
{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4 text-center">

        <h4 class="mb-3">Confirmar Exclusão</h4>

        <p>
            Tem certeza que deseja excluir:
            <strong>{{ produto.name }}</strong>?
        </p>

        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Confirmar Exclusão
            </button>

            <a href="{% url 'products:my_products' %}"
               class="btn btn-secondary ms-2">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}