{% extends 'bikes/template.html' %}
{% load static %}
{% block content %}


<div class="perfil-bg d-flex align-items-center cadastro-fundo">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 my-5 perfil-card">

                <h2 class="text-center mb-5 perfil-titulo">Meu Perfil</h2>

                <form action="{% url 'perfil' %}" method="POST">
                    {% csrf_token %}

                    <h5 class="mt-3">Dados do Usuário</h5>
                    {{ user_form.as_p }}

                    <h5 class="mt-4">Informações Pessoais</h5>
                    {{ perfil_form.as_p }}

                    <button type="submit" class="btn btn-primary btn-block mt-4">
                        Atualizar Dados
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="{% url 'nova_senha' %}" class="btn btn-secondary">
                        Trocar senha
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}
