{% extends 'bikes/template.html' %}
{% load static %}
{% block content %}

        <div class="container my-5">
            <div class="row">
                <div class="col-md-8">
                    {% if produto.foto %}
            <img class="img-fluid" src="{{ produto.foto.url }}">
        {% else %}
            <div class="no-image">
                🚲 Imagem não disponível
            </div>
        {% endif %}
        </div>
        <div class="col-md-4">
            <h2>{{ produto.nome }}</h2>
            <p><strong>Categoria:</strong> {{ produto.categoria }}</p>
            <p><strong>Cor:</strong> {{ produto.cor }}</p>
            <p><strong>Preço:</strong> {{ produto.preco }}</p>
            <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
            <div class="col-md-2">Quantidade:</div>

            <select class="form-select form-select-sm" id="qty-cart">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <button type="button" value="{{ produto.id }}" class="btn btn-secondary" id="add-cart">Adicionar ao carrinho</button>
        </div>

    </div>
</div>

<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_adicionar" %}',
            data: {
                product_id: $(this).val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                console.log(json);
                document.getElementById('cart_quantity').textContent = json.qty
                location.reload();
            },
            error: function (xhr, errmsg, err) {
            }
        });
    })

</script>


{% endblock %}